# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/app/cxx/
/android/app/.cxx/
/android/gradle/
/android/.gradle/
/android/local.properties
/android/.idea/
/android/*.iml
/android/captures/
/android/.externalNativeBuild/
/android/.settings/

# iOS related
/ios/Pods/
/ios/.symlinks/
/ios/.swiftpm/
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/.dart_tool/
/ios/.build/

# Xcode related
*.xcworkspace/
*.xcuserstate/
*.xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Fastlane related
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/metadata/android

# Other build artifacts
.cmake/
CMakeLists.txt.user
/cmake-build-debug/
/cmake-build-release/
.idea/workspace.xml
